.colaborador {
    width: 280px;
    position: relative;
}

.colaborador .cabecalho {
    background-color:  #F0F0F0;
    border-radius: 10px 10px 0px 0px;
    height: 125px;
    margin-bottom: 0px;
}
.colaborador img {
    border-radius: 35%;
    position: relative;
    bottom: -50px;
    width: 110px;
    height: 125px;
}

.colaborador img:hover {
    transition: all 0.4s ease-in-out;
    transform: scale(1.5);
}

.colaborador .rodape {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 80px;
    padding-bottom: 25px;
}

.colaborador .rodape h4 {
    color: #6278F7;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.colaborador .rodape h5 {
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    padding: 0 16px;
}

.delColaborador {
    position: absolute;
    top: -12px;
    right: -12px;
}

.colaborador .favoritar {
    margin-top: 10px;
}